* {
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;

}

  #menu {
      height: 7%;
    width: 100%;
 background-color:black;
  }
li {
margin-left: 20px;
display: inline;
font-size: 40px;
background-color: rgb(109, 243, 0);
padding: 17px;
border-bottom: solid rgb(109, 243, 0);
 position: relative;
top: -69px;
left: 150px;
text-decoration: none;
}

#contact {
margin-left: 440px;
}

li:hover {
    background-color:rgb(0, 190, 0)
}

.logo {
    border-left: 10px solid white;
    margin-left: 0px;
     height:70px;
    width:136px;
}

#linksboven {
  height: 50%;
  width: 50%;
  background-color:blue;  
}
#links {
    height: 80%;
    width : 12%;
    color : #006666;
    font-size: 10px;
    margin-top: 5%;
}