* {
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;

}

  #menu {
      height: 7%;
    width: 100%;
 background-color:black;
  }
li {
margin-left: 20px;
display: inline;
font-size: 40px;
background-color: rgb(109, 243, 0);
padding: 11px;

border-bottom: solid rgb(109, 243, 0);
 position: relative;
top: -69px;
left: 150px;
text-decoration: none;
}

#contact {
margin-left: 400px;
}

li:hover {
    background-color:rgb(0, 190, 0)
}

.logo {
    border-left: 10px solid white;
    margin-left: 0px;
     height:70px;
    width:136px;
}

#linksboven {
  height: 150px;
  width: 150px;
  background-color:blue;  
}